@{
    Layout = "_Layout";
}

@using AutoGarden.Models.Schedule
@model IEnumerable<AutoGarden.Models.Schedule.Schedule>

<div>
    <table class="table table-striped table-hover">
        <tr class="text-center" >
            <th>@Html.DisplayNameFor(model => model.Description)</th>
            <th>Start</th>
            <th>Stop</th>
            <th>Frequency</th>
            <th>Enabled</th>
        </tr>
        @foreach (Schedule schedule in Model)
        {
            <tr class="text-center" >
                <td>@schedule.Description</td>
                <td>@schedule.StartDate</td>
                <td>@schedule.StopDate</td>
                <td>@schedule.ScheduleFrequency</td>
                <td>@schedule.Enabled</td>
            </tr>
        }
    </table>
</div>