@{
    Layout = "_Layout";
}
@using AutoGarden.Models.Schedule
@model IEnumerable<AutoGarden.Models.Schedule.Schedule>

<div>
    <a asp-action="Add">Add</a>
    <table class="table table-striped table-hover">
        <tr class="text-center">
            <th>@Html.DisplayNameFor(model => model.Enabled)</th>
            <th>@Html.DisplayNameFor(model => model.Title)</th>
            <th>@Html.DisplayNameFor(model => model.StartTime)</th>
            <th>Frequency</th>
            <th></th>
        </tr>
        @foreach (Schedule schedule in Model)
        {
            <tr class="text-center">
                <td>
                    <input type="checkbox" value="@schedule.Enabled" />
                </td>
                <td>@schedule.Title</td>
                <td>@schedule.StartTime</td>
                <td>
                    <div>Su, M, R, Sa</div>
                    <div>Every 1 Hour(s)</div>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@schedule.Id">Edit</a>
                    /
                    <a asp-action="Delete" asp-route-id="@schedule.Id">Delete</a>
                </td>
            </tr>
        }
    </table>
</div>